/*-------------------------------------------

   Copyright (c) 2014,
   Alexander Madyankin & Roman Shamin
   github.com/evil-icons/evil-icons

   * SITE: evil-icons.io
   * LIST: icones.js.org/collection/ei
   * USAGE: gitlab.com/evil-icons/i

--------------------------------------------*/

@font-face {
  font-family: 'evil-icons';
  src: url('./files/evil-icons.eot?10812621');
  src: url('./files/evil-icons.eot?10812621#iefix') format('embedded-opentype'),
       url('./files/evil-icons.woff2?10812621') format('woff2'),
       url('./files/evil-icons.woff?10812621') format('woff'),
       url('./files/evil-icons.ttf?10812621') format('truetype'),
       url('./files/evil-icons.svg?10812621#evil-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'evil-icons';
    src: url('./files/evil-icons.svg?10812621#evil-icons') format('svg');
  }
}

.evil-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'evil-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.evil-icons[icon-name="archive"]:before { content: '\e800'; }
.evil-icons[icon-name="arrow-down"]:before { content: '\e801'; }
.evil-icons[icon-name="arrow-left"]:before { content: '\e802'; }
.evil-icons[icon-name="arrow-right"]:before { content: '\e803'; }
.evil-icons[icon-name="arrow-up"]:before { content: '\e804'; }
.evil-icons[icon-name="bell"]:before { content: '\e805'; }
.evil-icons[icon-name="calendar"]:before { content: '\e806'; }
.evil-icons[icon-name="camera"]:before { content: '\e807'; }
.evil-icons[icon-name="cart"]:before { content: '\e808'; }
.evil-icons[icon-name="chart"]:before { content: '\e809'; }
.evil-icons[icon-name="check"]:before { content: '\e80a'; }
.evil-icons[icon-name="chevron-down"]:before { content: '\e80b'; }
.evil-icons[icon-name="chevron-left"]:before { content: '\e80c'; }
.evil-icons[icon-name="chevron-right"]:before { content: '\e80d'; }
.evil-icons[icon-name="chevron-up"]:before { content: '\e80e'; }
.evil-icons[icon-name="clock"]:before { content: '\e80f'; }
.evil-icons[icon-name="close"]:before { content: '\e812'; }
.evil-icons[icon-name="close-o"]:before { content: '\e810'; }
.evil-icons[icon-name="comment"]:before { content: '\e811'; }
.evil-icons[icon-name="credit-card"]:before { content: '\e816'; }
.evil-icons[icon-name="envelope"]:before { content: '\e813'; }
.evil-icons[icon-name="exclamation"]:before { content: '\e814'; }
.evil-icons[icon-name="external-link"]:before { content: '\e815'; }
.evil-icons[icon-name="eye"]:before { content: '\e817'; }
.evil-icons[icon-name="gear"]:before { content: '\e818'; }
.evil-icons[icon-name="heart"]:before { content: '\e819'; }
.evil-icons[icon-name="image"]:before { content: '\e81a'; }
.evil-icons[icon-name="like"]:before { content: '\e81b'; }
.evil-icons[icon-name="link"]:before { content: '\e81e'; }
.evil-icons[icon-name="location"]:before { content: '\e81c'; }
.evil-icons[icon-name="lock"]:before { content: '\e820'; }
.evil-icons[icon-name="minus"]:before { content: '\e81d'; }
.evil-icons[icon-name="navicon"]:before { content: '\e822'; }
.evil-icons[icon-name="paperclip"]:before { content: '\e823'; }
.evil-icons[icon-name="pencil"]:before { content: '\e821'; }
.evil-icons[icon-name="play"]:before { content: '\e81f'; }
.evil-icons[icon-name="plus"]:before { content: '\e824'; }
.evil-icons[icon-name="pointer"]:before { content: '\e825'; }
.evil-icons[icon-name="question"]:before { content: '\e826'; }
.evil-icons[icon-name="redo"]:before { content: '\e827'; }
.evil-icons[icon-name="refresh"]:before { content: '\e828'; }
.evil-icons[icon-name="refresh-alt"]:before { content: '\e829'; }
.evil-icons[icon-name="retweet"]:before { content: '\e82a'; }
.evil-icons[icon-name="sc-facebook"]:before { content: '\e82b'; }
.evil-icons[icon-name="sc-github"]:before { content: '\e82c'; }
.evil-icons[icon-name="sc-google-plus"]:before { content: '\e82d'; }
.evil-icons[icon-name="sc-instagram"]:before { content: '\e82e'; }
.evil-icons[icon-name="sc-linkedin"]:before { content: '\e838'; }
.evil-icons[icon-name="sc-odnoklassniki"]:before { content: '\e82f'; }
.evil-icons[icon-name="sc-pinterest"]:before { content: '\e831'; }
.evil-icons[icon-name="sc-skype"]:before { content: '\e830'; }
.evil-icons[icon-name="sc-soundcloud"]:before { content: '\e832'; }
.evil-icons[icon-name="sc-telegram"]:before { content: '\e833'; }
.evil-icons[icon-name="sc-tumblr"]:before { content: '\e834'; }
.evil-icons[icon-name="sc-twitter"]:before { content: '\e835'; }
.evil-icons[icon-name="sc-vimeo"]:before { content: '\e836'; }
.evil-icons[icon-name="sc-vk"]:before { content: '\e837'; }
.evil-icons[icon-name="sc-youtube"]:before { content: '\e839'; }
.evil-icons[icon-name="search"]:before { content: '\e83a'; }
.evil-icons[icon-name="share-apple"]:before { content: '\e83b'; }
.evil-icons[icon-name="share-google"]:before { content: '\e841'; }
.evil-icons[icon-name="spinner"]:before { content: '\e83f'; }
.evil-icons[icon-name="spinner-2"]:before { content: '\e83d'; }
.evil-icons[icon-name="spinner-3"]:before { content: '\e83c'; }
.evil-icons[icon-name="star"]:before { content: '\e83e'; }
.evil-icons[icon-name="tag"]:before { content: '\e840'; }
.evil-icons[icon-name="trash"]:before { content: '\e842'; }
.evil-icons[icon-name="trophy"]:before { content: '\e843'; }
.evil-icons[icon-name="undo"]:before { content: '\e844'; }
.evil-icons[icon-name="unlock"]:before { content: '\e846'; }
.evil-icons[icon-name="user"]:before { content: '\e845'; }
